{% extends 'admin/change_list.html' %}

{% block content_title %}
    <h1> Pregled gradova </h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <table>

        <thead>
          <tr>
            <th>
              <div class="text">
                <a href="#">Grad</a>
              </div>
            </th>
            <th>
              <div class="text">
                <a href="#">Broj korisnika</a>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for row in summary %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <td> {{ row.0 | default:"Nepoznato" }} </td>
            <td> {{ row.1 | default:0 }} </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
{% endblock %}

{% block pagination %}{% endblock %}